<!DOCTYPE html>
<html lang="en" ng-app="gemStore">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/cs-angular1/css/style.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/cs-angular1/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/cs-angular1/js/script.js"></script>
    <script type="text/javascript" src="/cs-angular1/js/angular.min.js"></script>
    <script type="text/javascript" src="/cs-angular1/js/app.js"></script>

    <title>CS Tutorial - Shaping Up With Angular</title>
</head>

<body class="list-group" ng-controller="StoreController as store">
	<header>
		<h1 class="text-center">Flatlander Crafted Gems</h1>
		<h2 class="text-center">– an Angular store –</h2>
	</header>
	<div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
		<h3>
			{{product.name}}
			<em class="pull-right">{{product.price | currency }}</em>
		</h3>
        <!-- Image Gallery  -->
        <div class="gallery" ng-show="{{product.images.length}}" ng-controller="GalleryController as gallery">
	    	<img ng-src="{{product.images[gallery.current]}}" />
	    	<ul class="list-inline thumbs">
	    		<li class="thumbnail" ng-repeat="image in product.images" ng-click="gallery.setCurrent(product.images.length)">
	    			<img ng-src="{{image}}" />
	    		</li>
	        </ul>
		</section>
		<section class="tab" ng-controller="TabController as tabCtrl">
			<ul class="nav nav-pills">
				<li ng-class="{ active:tabCtrl.isSet(1) }">
					<a href ng-click="tabCtrl.setTab(1)">Description</a></li>
				<li ng-class="{ active:tabCtrl.isSet(2) }">
					<a href ng-click="tabCtrl.setTab(2)">Specs</a></li>
				<li ng-class="{ active:tabCtrl.isSet(3) }">
					<a href ng-click="tabCtrl.setTab(3)">Reviews</a></li>
			</ul>
			<div class="panel" ng-show="tabCtrl.isSet(1)">
				<h4>Description</h4>
				<blockquote>{{product.description}}</blockquote>
			</div>
			<div class="panel" ng-show="tabCtrl.isSet(2)">
				<h4>Specs</h4>
				<blockquote>Shine: {{product.shine}} </blockquote>
			</div>
			<div class="panel" ng-show="tabCtrl.isSet(3)">
				<h4>Reviews</h4>
				<ul>
					<li ng-repeat="review in product.reviews">
						<blockquote>
							<b>Stars: {{review.stars}}</b>
							{{review.body}}
							<cite class="clearfix">by: {{review.author}}</cite>
						</blockquote>
					</li>
				</ul>
				<!-- Review Form -->
				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
					<!-- Preview -->
					<blockquote>
						<strong>{{reviewCtrl.review.stars}} Stars</strong>
						{{reviewCtrl.review.body}}
						<cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
					</blockquote>

					<!-- Form -->
					<h4>Submit a Review</h4>
					<fieldset class="form-group">
						<select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" ng-model="reviewCtrl.review.stars">
							<option value="">Rate the Item</option>
						</select>
					</fieldset>
					<fieldset class="form-group">
						<textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" />
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
					</fieldset>
				</form>
			</div>
		</section>
	</div>
</body>

</html>
